<div class="section reviews">
    <div class="container">
        <div class="org-reviews-title">
            <h2 class="reviews-title">
                reviews from our<span class="reviews-change-color"> customers</span>
            </h2>
            <p class="reviews-descr">
                Words of our customers: impressions and opinions about the quality of
                our services and the freshness of our products.
            </p>
        </div>
        <ul class="reviews-list">
            <li class="reviews-card">
                <img class="reviews-photo" src="../img/reviews/jonh.png" alt="" width="56" height="56" />
                <h4 class="reviews-name">John Wax</h4>
                <p class="reviews-comment">
                    These vegetables are my secret to delicious and healthy meals. The
                    quality is always at the highest level, the aroma and taste are
                    enchanting. I advise every fan of real products!
                </p>
            </li>
            <li class="reviews-card"> 
                <img class="reviews-photo" src="../img/reviews/victor.png" alt="" width="56"
                    height="56">
                <h4 class="reviews-name">Victoria Romashenko</h4>
                <p class="reviews-comment">I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and
                    soups are real masterpieces. The quality is impeccable!</p>
            </li>
            </li>
            <li class="reviews-card"> 
                <img class="reviews-photo" src="../img/reviews/igor.png" alt="" width="56"
                    height="56">
                <h4 class="reviews-name">Ihor Trachuk</h4>
                <p class="reviews-comment">Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the
                    garden directly to my table. It is now my main vegetable supplier.</p>
            </li>
        </ul>
    </div>
</div>