<div class="section vegetables">
  <div class="container">
    <div class="org-vegetables-title">
      <h2 class="vegetables-tite">
        organic<span class="vegetables-color-change"> vegetables</span>
      </h2>
      <p class="vegetables-descr">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/eggplant-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>

      <li class="vegetables-card">
        <h3 class="vegetables-card-title">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/leek-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/mushrooms-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/corn-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/sweet potatoes-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-card">
        <h3 class="vegetables-card-title">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <div class="vegetables-img">
          <img
            src="img/vegetables/carrot-min.jpg"
            alt=""
            width="280"
            height="244"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
