.vegetables {
    background-color: #7A3145;
}

.container {
    max-width: 1280px;
    padding: 0 100px;
}

.org-vegetables-title {
    max-width: 626px;
    margin-bottom: 52px;
}

.vegetables-tite {
    color: #FBFBFB;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 24px;
    /* max-width: 508px; */
}

.vegetables-color-change {
    color: #D4BFC4;
}

.vegetables-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #FBFBFB;
}

.vegetables-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 28px;
    column-gap: 24px;
    justify-content: center;
}

.vegetables-card {
    width: calc((100% - 48px) / 3);
    border-radius: 40px;
    background-color: #FBFBFB;
    padding: 32px;
}

.vegetables-card-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7A3145;
    margin-bottom: 12px;
}

.vegetables-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #141414;
    margin-bottom: 8px;
}